
@font-face {
    font-family: 'Madera';
    src: url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Bold.eot?#iefix') format('embedded-opentype'),  
        url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Bold.otf')  format('opentype'),
        url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Bold.woff') format('woff'), 
        url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Bold.ttf')  format('truetype'), 
        url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Bold.svg#Madera-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Madera';
    src: url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Light.eot?#iefix') format('embedded-opentype'),  
        url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Light.otf')  format('opentype'),
        url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Light.woff') format('woff'), 
        url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Light.ttf')  format('truetype'), 
        url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Light.svg#Madera-Light') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Madera';
    src: url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Regular.eot?#iefix') format('embedded-opentype'),  
        url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Regular.otf')  format('opentype'),
        url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Regular.woff') format('woff'), 
        url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Regular.ttf')  format('truetype'), 
        url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Regular.svg#Madera-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Madera';
    src: url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Italic.eot?#iefix') format('embedded-opentype'),  
        url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Italic.otf')  format('opentype'),
        url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Italic.woff') format('woff'), 
        url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Italic.ttf')  format('truetype'), 
        url('https://www.ros.net.pl/Portals/0/rich-content/EOS/832992018738/fonts/Madera-Italic.svg#Madera-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

#egp_eos2_main {
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
    color: #595959;
    overflow: hidden;
}

.egp_eos2 h1, 
.egp_eos2 h2, 
.egp_eos2 h3, 
.egp_eos2 h4, 
.egp_eos2 h5 {
    margin:0;
} 


#egp_eos2_main h1,
#egp_eos2_main h2,
#egp_eos2_main h3, 
#egp_eos2_main h4, 
#egp_eos2_main h5,
#egp_eos2_main p,
#egp_eos2_main li,
#egp_eos2_main span {
    font-family: 'Madera';
    /* color: #595959; */
}

#egp_eos2_main ol, 
#egp_eos2_main ul { 
    list-style:none;
    margin: 0;
    padding: 0;
}

#egp_eos2_main li {
    position: relative;
    font-size: 12px;
    line-height: 18px;
    color: #595959;
}


#egp_eos2_main .egpeos2-section {
    margin: 0 auto;
    width: 100%;
    display: flex;
    font-family: 'Madera';
}


#egp_eos2_main .egpeos2-section__hero-banner{
    width: 100%;
    height: auto;
}
#egp_eos2_main .egpeos2-section__hero-banner img {
    width: 100%;
    height: auto;
}
@media screen and (max-width: 400px) {
    #egp_eos2_main .egpeos2-section__hero-banner{
        width: 100%;
        height: 120px;
        overflow: hidden;
    }
    #egp_eos2_main .egpeos2-section__hero-banner img {
        width: auto;
        height: 100%;
    }
}



#egp_eos2_main .egpeos2-section__main {
    display: flex;
    flex-direction: row;
    padding: 30px 0;
}
#egp_eos2_main .egpeos2-product {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#egp_eos2_main .egpeos2-product__image {
    display: flex;
    min-width: 360px;
    width: 360px;
    height: auto;
    background: url(../img/feature-image.png) no-repeat bottom center;
    background-size: cover;
}

#egp_eos2_main .egpeos2-product__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
    padding-left: 20px;
    padding-right: 50px;
}
#egp_eos2_main .egpeos2-product__copy {
    padding-bottom: 30px;
}
#egp_eos2_main .egpeos2-product__title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}
#egp_eos2_main .egpeos2-product__subtitle {
    font-size: 15px;
    line-height: 19px;
    font-style: italic;
    font-weight: normal;
}
#egp_eos2_main .egpeos2-product__description {
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;
}
#egp_eos2_main .egpeos2-product__footer-list {
    padding: 25px 25px;
    border: 1px solid #d8d8d8;
    background-color: #f3f3f3;
}

#egp_eos2_main .egpeos2-aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 240px;
    border-left: 1px solid #d8d8d8;
    padding-left: 20px;
    padding-right: 20px;
}

#egp_eos2_main .egpeos2-aside__logo {
    align-self: center;
}
#egp_eos2_main .egpeos2-aside__title {
    font-size: 11px;
    font-weight: bold;
} 
#egp_eos2_main .egpeos2-aside__description {
    font-size: 11px;
} 

@media screen and (max-width: 900px) {
    #egp_eos2_main .egpeos2-section__main {
        flex-direction: column;
    }

    #egp_eos2_main .egpeos2-product {
        min-height: 300px;
    }
    #egp_eos2_main .egpeos2-product__content {
        max-width: 100%;
        padding-right: 20px;
    }
    #egp_eos2_main .egpeos2-aside {
        flex-direction: row;
        max-width: 100%;
        padding-left: 0;
        padding-top: 20px;
    }
    #egp_eos2_main .egpeos2-aside__logo {
        min-width: 360px;
        text-align: center;
    }
    #egp_eos2_main .egpeos2-aside__copy {
        padding-left: 20px;
    }
}

@media screen and (max-width: 767px) {
    #egp_eos2_main .egpeos2-product__image {
        width: 50%;
        min-width: 50%;
    }
    #egp_eos2_main .egpeos2-aside__logo {
        width: 50vw;
        min-width: 50vw;
    }
}
@media screen and (max-width: 500px) {
    #egp_eos2_main .egpeos2-product {
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;
    }
    #egp_eos2_main .egpeos2-product__image {
        width: 100%;
        min-width: auto;
        height: 400px;
    }
    #egp_eos2_main .egpeos2-product__content {
        padding: 0;
    }
    #egp_eos2_main .egpeos2-product__copy {
        padding-bottom: 10px;
    }
    #egp_eos2_main .egpeos2-aside {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }
    #egp_eos2_main .egpeos2-aside__copy {
        margin-top: 10px;
        padding-left: 0px;
    }
}



#egp_eos2_main .egpeos2-section__table {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 75%;
    min-height: 330px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 25%;
}
#egp_eos2_main .egpeos2-section__table-header {
    display: flex;
    align-items: flex-end;
}
#egp_eos2_main .egpeos2-section__table-content {
    display: flex;
    align-items: flex-end;
}
#egp_eos2_main .table-item {
    /* width: 135px; */
    display: flex;
    flex-direction: column;
    align-content: center;
}
#egp_eos2_main .egpeos2-section__table-header .table-item {
    width: 190px;
}
#egp_eos2_main .table-value .egp2-show-mobile,
#egp_eos2_main .table-value .egp2-show-tablet,
#egp_eos2_main .table-value .egp2-show-desktop {
    display: none;
}

#egp_eos2_main .table-value {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    position: relative;
    border-bottom: 1px solid transparent;
}
#egp_eos2_main .egpeos2-section__table-header .table-value__image{
    border-bottom: 0px solid transparent;
}

#egp_eos2_main .egpeos2-section__table-header .table-value {
    background-color: #f7f7f7;
}
#egp_eos2_main .egpeos2-section__table-header .table-value::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1px;
    left: 0;
    width: 100vw;
    height: 1px;
    background-color: #e8e8e8;
}
#egp_eos2_main .egpeos2-section__table-header .table-value:first-child::after {
    background-color: transparent;
}
#egp_eos2_main .egpeos2-section__table-header .table-value:nth-child(1),
#egp_eos2_main .egpeos2-section__table-header .table-value:nth-child(2) {
    background-color: transparent;
} 

#egp_eos2_main .egpeos2-section__table-slider--wrapper {
    overflow: hidden;
    margin: 0 auto;
}

#egp_eos2_main .egpeos2-section__table-content {
    margin: 0 auto;
    transition: transform ease 0.5s;
}
#egp_eos2_main .egpeos2-section__table-content .table-value {
    width: 320px;
}
#egp_eos2_main .egpeos2-section__table-content .table-value__image {
    width: 280px;
}

#egp_eos2_main .table-value__name {
    height: 50px;
    font-size: 13px;
    font-weight: bold;
}
#egp_eos2_main .table-value__image {
    position: absolute;
    bottom: -10px;
    right: 0;
    height: 280px;
    padding: 0;
    background: #fff;
}
#egp_eos2_main .table-value__image img{
    width: auto;
    max-height: 100%;
}
#egp_eos2_main .table-value__smell {
    height: 50px;
}
#egp_eos2_main .table-value__use {
    height: 50px;
}
#egp_eos2_main .table-value__details {
    height: 50px;
}
#egp_eos2_main .table-value__capacity {
    height: 50px;
}

@media screen and (max-width: 930px) {
    #egp_eos2_main .egpeos2-section__table-header .table-item {
        width: 180px;
    }
    #egp_eos2_main .egpeos2-section__table-content .table-value {
        width: 250px;
    }
    #egp_eos2_main .egpeos2-section__table-content .table-value__image {
        width: 220px;
    }
    #egp_eos2_main .table-value__name {
        height: 50px;
    }
    #egp_eos2_main .table-value__smell {
        height: 50px;
    }
    #egp_eos2_main .table-value__use {
        height: 60px;
    }
    #egp_eos2_main .table-value__details {
        height: 60px;
    }
    #egp_eos2_main .table-value__capacity {
        height: 50px;
    }
}
@media screen and (max-width: 767px) {
    #egp_eos2_main .egpeos2-section__table-header .table-item {
        width: 160px;
    }
    #egp_eos2_main .egpeos2-section__table-content .table-value{
        width: 210px;
    }
    #egp_eos2_main .table-value__name {
        height: 50px;
    }
    #egp_eos2_main .table-value__smell {
        height: 50px;
    }
    #egp_eos2_main .table-value__use {
        height: 80px;
    }
    #egp_eos2_main .table-value__details {
        height: 70px;
    }
    #egp_eos2_main .table-value__capacity {
        height: 50px;
    }
}
@media screen and (max-width: 650px) {
    #egp_eos2_main .egpeos2-section__table {
        width: 100%;
        padding-right: 0;
    }
    #egp_eos2_main .table-value__image {
        position: relative;
        bottom: auto;
        right: auto;
        height: 280px;
        background: #fff;
    }
    #egp_eos2_main .egpeos2-section__table-header .table-item {
        width: 140px;
    }
    #egp_eos2_main .egpeos2-section__table-content .table-value{
        width: 200px;
    }
    #egp_eos2_main .egpeos2-section__table-content .table-value__image {
        width: 200px;
    }
    #egp_eos2_main .table-value__name {
        height: 50px;
    }
    #egp_eos2_main .table-value__smell {
        height: 50px;
    }
    #egp_eos2_main .table-value__use {
        height: 80px;
    }
    #egp_eos2_main .table-value__details {
        height: 70px;
    }
    #egp_eos2_main .table-value__capacity {
        height: 50px;
    }
}

@media screen and (max-width: 400px) {
    #egp_eos2_main .egpeos2-section__table-header .table-item {
        width: 110px;
    }
    #egp_eos2_main .egpeos2-section__table-content .table-value{
        width: 150px;
    }
    #egp_eos2_main .table-value__name {
        height: 50px;
    }
    #egp_eos2_main .table-value__smell {
        height: 50px;
    }
    #egp_eos2_main .table-value__use {
        height: 80px;
    }
    #egp_eos2_main .table-value__details {
        height: 80px;
    }
    #egp_eos2_main .table-value__capacity {
        height: 50px;
    }
}

@media screen and (max-width: 767px) { 
    #egp_eos2_main .table-value .egp2-show-mobile {
        display: inline;
    }
}
@media (min-width: 768px) and (max-width: 929px) { 
    #egp_eos2_main .table-value .egp2-show-tablet {
        display: inline;
    }
}
@media screen and (min-width: 930px) { 
    #egp_eos2_main .table-value .egp2-show-desktop {
        display: inline;
    }
}
